@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to right, #33e3ff, #ac33ff);
  text-align: center;
  letter-spacing: 0.1rem;
}
#gradient-background {
  margin: 5rem 0;
}
h1 {
  font: 700 3rem 'Raleway', sans-serif;
  text-transform: uppercase;
  color: transparent;

  /* text-shadow: 3px 3px 3px  3px rgba(0, 0, 0, 0.3); */
  -webkit-text-stroke: 1px rgb(240, 240, 240);
}

h2 {
  font: 600 1.5rem 'Raleway', sans-serif;
  margin-top: 1rem;
  color: #393838;
  text-transform: uppercase;
}
.form-group {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.form-group input {
  border: none;
}
.color1,
.color2 {
  width: 80px;
  height: 40px;
}

#copy {
  padding: 0.3rem 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font: 600 0.8rem 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 3px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
    -webkit-text-stroke: 0px;
    color: #393838;
  }
  h2 {
    font-size: 1rem;
  }
}
